<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MicroPower</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.login.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MircoLoveServlet</display-name>
    <servlet-name>MircoLoveServlet</servlet-name>
    <servlet-class>com.mircolove.MircoLoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MircoLoveServlet</servlet-name>
    <url-pattern>/MircoLoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSettingServlet</display-name>
    <servlet-name>UserSettingServlet</servlet-name>
    <servlet-class>com.login.UserSettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSettingServlet</servlet-name>
    <url-pattern>/UserSettingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NeedDonationServlet</display-name>
    <servlet-name>NeedDonationServlet</servlet-name>
    <servlet-class>com.needDonation.NeedDonationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NeedDonationServlet</servlet-name>
    <url-pattern>/NeedDonationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharerServlet</display-name>
    <servlet-name>SharerServlet</servlet-name>
    <servlet-class>com.share.SharerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharerServlet</servlet-name>
    <url-pattern>/SharerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.mircolove.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationInfoServlet</display-name>
    <servlet-name>DonationInfoServlet</servlet-name>
    <servlet-class>com.donation.DonationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationInfoServlet</servlet-name>
    <url-pattern>/DonationInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoMircoLoveServlet</display-name>
    <servlet-name>DoMircoLoveServlet</servlet-name>
    <servlet-class>com.mircolove.DoMircoLoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoMircoLoveServlet</servlet-name>
    <url-pattern>/DoMircoLoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMircoloveServlet</display-name>
    <servlet-name>DeleteMircoloveServlet</servlet-name>
    <servlet-class>com.mircolove.DeleteMircoloveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMircoloveServlet</servlet-name>
    <url-pattern>/DeleteMircoloveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShareServlet</display-name>
    <servlet-name>DeleteShareServlet</servlet-name>
    <servlet-class>com.share.DeleteShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShareServlet</servlet-name>
    <url-pattern>/DeleteShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MircoLoveListAction</display-name>
    <servlet-name>MircoLoveListAction</servlet-name>
    <servlet-class>com.android.servlet.MircoLoveListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MircoLoveListAction</servlet-name>
    <url-pattern>/MircoLoveList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationListAction</display-name>
    <servlet-name>DonationListAction</servlet-name>
    <servlet-class>com.android.servlet.DonationListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationListAction</servlet-name>
    <url-pattern>/DonationList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WitnessListAction</display-name>
    <servlet-name>WitnessListAction</servlet-name>
    <servlet-class>com.android.servlet.WitnessListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WitnessListAction</servlet-name>
    <url-pattern>/WitnessList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPagerAction</display-name>
    <servlet-name>ViewPagerAction</servlet-name>
    <servlet-class>com.android.servlet.ViewPagerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPagerAction</servlet-name>
    <url-pattern>/ViewPager.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoMircoLoveListAction</display-name>
    <servlet-name>DoMircoLoveListAction</servlet-name>
    <servlet-class>com.android.servlet.DoMircoLoveListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoMircoLoveListAction</servlet-name>
    <url-pattern>/DoMircoLoveList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationCommentListAction</display-name>
    <servlet-name>DonationCommentListAction</servlet-name>
    <servlet-class>com.android.servlet.DonationCommentListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationCommentListAction</servlet-name>
    <url-pattern>/DonationCommentList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WitnessCommentListAction</display-name>
    <servlet-name>WitnessCommentListAction</servlet-name>
    <servlet-class>com.android.servlet.WitnessCommentListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WitnessCommentListAction</servlet-name>
    <url-pattern>/WitnessCommentList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoMircoLoveAction</display-name>
    <servlet-name>DoMircoLoveAction</servlet-name>
    <servlet-class>com.android.servlet.DoMircoLoveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoMircoLoveAction</servlet-name>
    <url-pattern>/DoMircoLove.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoReportAction</display-name>
    <servlet-name>DoReportAction</servlet-name>
    <servlet-class>com.android.servlet.DoReportAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoReportAction</servlet-name>
    <url-pattern>/DoReport.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCommentAction</display-name>
    <servlet-name>DoCommentAction</servlet-name>
    <servlet-class>com.android.servlet.DoCommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCommentAction</servlet-name>
    <url-pattern>/DoComment.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeDataAction</display-name>
    <servlet-name>ChangeDataAction</servlet-name>
    <servlet-class>com.android.servlet.ChangeDataAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDataAction</servlet-name>
    <url-pattern>/ChangeData.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentDonNumAction</display-name>
    <servlet-name>CommentDonNumAction</servlet-name>
    <servlet-class>com.android.servlet.CommentDonNumAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentDonNumAction</servlet-name>
    <url-pattern>/CommentDonNum.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentWitNumAction</display-name>
    <servlet-name>CommentWitNumAction</servlet-name>
    <servlet-class>com.android.servlet.CommentWitNumAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentWitNumAction</servlet-name>
    <url-pattern>/CommentWitNum.action</url-pattern>
  </servlet-mapping>
</web-app>