<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MicroPower</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.login.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MircoLoveServlet</display-name>
    <servlet-name>MircoLoveServlet</servlet-name>
    <servlet-class>com.mircolove.MircoLoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MircoLoveServlet</servlet-name>
    <url-pattern>/MircoLoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSettingServlet</display-name>
    <servlet-name>UserSettingServlet</servlet-name>
    <servlet-class>com.login.UserSettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSettingServlet</servlet-name>
    <url-pattern>/UserSettingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NeedDonationServlet</display-name>
    <servlet-name>NeedDonationServlet</servlet-name>
    <servlet-class>com.needDonation.NeedDonationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NeedDonationServlet</servlet-name>
    <url-pattern>/NeedDonationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharerServlet</display-name>
    <servlet-name>SharerServlet</servlet-name>
    <servlet-class>com.share.SharerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharerServlet</servlet-name>
    <url-pattern>/SharerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.mircolove.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationInfoServlet</display-name>
    <servlet-name>DonationInfoServlet</servlet-name>
    <servlet-class>com.donation.DonationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationInfoServlet</servlet-name>
    <url-pattern>/DonationInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoMircoLoveServlet</display-name>
    <servlet-name>DoMircoLoveServlet</servlet-name>
    <servlet-class>com.mircolove.DoMircoLoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoMircoLoveServlet</servlet-name>
    <url-pattern>/DoMircoLoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMircoloveServlet</display-name>
    <servlet-name>DeleteMircoloveServlet</servlet-name>
    <servlet-class>com.mircolove.DeleteMircoloveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMircoloveServlet</servlet-name>
    <url-pattern>/DeleteMircoloveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShareServlet</display-name>
    <servlet-name>DeleteShareServlet</servlet-name>
    <servlet-class>com.share.DeleteShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShareServlet</servlet-name>
    <url-pattern>/DeleteShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MircoLoveListAction</display-name>
    <servlet-name>MircoLoveListAction</servlet-name>
    <servlet-class>com.android.servlet.MircoLoveListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MircoLoveListAction</servlet-name>
    <url-pattern>/MircoLoveList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationListAction</display-name>
    <servlet-name>DonationListAction</servlet-name>
    <servlet-class>com.android.servlet.DonationListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationListAction</servlet-name>
    <url-pattern>/DonationList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WitnessListAction</display-name>
    <servlet-name>WitnessListAction</servlet-name>
    <servlet-class>com.android.servlet.WitnessListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WitnessListAction</servlet-name>
    <url-pattern>/WitnessList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPagerAction</display-name>
    <servlet-name>ViewPagerAction</servlet-name>
    <servlet-class>com.android.servlet.ViewPagerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPagerAction</servlet-name>
    <url-pattern>/ViewPager.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoMircoLoveListAction</display-name>
    <servlet-name>DoMircoLoveListAction</servlet-name>
    <servlet-class>com.android.servlet.DoMircoLoveListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoMircoLoveListAction</servlet-name>
    <url-pattern>/DoMircoLoveList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationCommentListAction</display-name>
    <servlet-name>DonationCommentListAction</servlet-name>
    <servlet-class>com.android.servlet.DonationCommentListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationCommentListAction</servlet-name>
    <url-pattern>/DonationCommentList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WitnessCommentListAction</display-name>
    <servlet-name>WitnessCommentListAction</servlet-name>
    <servlet-class>com.android.servlet.WitnessCommentListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WitnessCommentListAction</servlet-name>
    <url-pattern>/WitnessCommentList.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoMircoLoveAction</display-name>
    <servlet-name>DoMircoLoveAction</servlet-name>
    <servlet-class>com.android.servlet.DoMircoLoveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoMircoLoveAction</servlet-name>
    <url-pattern>/DoMircoLove.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoReportAction</display-name>
    <servlet-name>DoReportAction</servlet-name>
    <servlet-class>com.android.servlet.DoReportAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoReportAction</servlet-name>
    <url-pattern>/DoReport.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCommentAction</display-name>
    <servlet-name>DoCommentAction</servlet-name>
    <servlet-class>com.android.servlet.DoCommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCommentAction</servlet-name>
    <url-pattern>/DoComment.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeDataAction</display-name>
    <servlet-name>ChangeDataAction</servlet-name>
    <servlet-class>com.android.servlet.ChangeDataAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDataAction</servlet-name>
    <url-pattern>/ChangeData.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentDonNumAction</display-name>
    <servlet-name>CommentDonNumAction</servlet-name>
    <servlet-class>com.android.servlet.CommentDonNumAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentDonNumAction</servlet-name>
    <url-pattern>/CommentDonNum.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentWitNumAction</display-name>
    <servlet-name>CommentWitNumAction</servlet-name>
    <servlet-class>com.android.servlet.CommentWitNumAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentWitNumAction</servlet-name>
    <url-pattern>/CommentWitNum.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsLoginServlet</display-name>
    <servlet-name>IsLoginServlet</servlet-name>
    <servlet-class>com.react.IsLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsLoginServlet</servlet-name>
    <url-pattern>/IsLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChildServlet</display-name>
    <servlet-name>ChildServlet</servlet-name>
    <servlet-class>com.react.ChildServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChildServlet</servlet-name>
    <url-pattern>/ChildServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImgServlet</display-name>
    <servlet-name>UploadImgServlet</servlet-name>
    <servlet-class>com.react.UploadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImgServlet</servlet-name>
    <url-pattern>/UploadImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendServlet</display-name>
    <servlet-name>SendServlet</servlet-name>
    <servlet-class>com.react.SendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendServlet</servlet-name>
    <url-pattern>/SendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>com.react.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingServlet</display-name>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>com.react.SettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/SettingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationServlet</display-name>
    <servlet-name>DonationServlet</servlet-name>
    <servlet-class>com.react.DonationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationServlet</servlet-name>
    <url-pattern>/DonationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareServlet</display-name>
    <servlet-name>ShareServlet</servlet-name>
    <servlet-class>com.react.ShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareServlet</servlet-name>
    <url-pattern>/ShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.react.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BgLoginServlet</display-name>
    <servlet-name>BgLoginServlet</servlet-name>
    <servlet-class>com.bg.BgLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BgLoginServlet</servlet-name>
    <url-pattern>/BgLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VirifyServlet</display-name>
    <servlet-name>VirifyServlet</servlet-name>
    <servlet-class>com.bg.VirifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VirifyServlet</servlet-name>
    <url-pattern>/VirifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BgDonationServlet</display-name>
    <servlet-name>BgDonationServlet</servlet-name>
    <servlet-class>com.bg.BgDonationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BgDonationServlet</servlet-name>
    <url-pattern>/BgDonationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VirifyDonationServlet</display-name>
    <servlet-name>VirifyDonationServlet</servlet-name>
    <servlet-class>com.bg.VirifyDonationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VirifyDonationServlet</servlet-name>
    <url-pattern>/VirifyDonationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BgShareServlet</display-name>
    <servlet-name>BgShareServlet</servlet-name>
    <servlet-class>com.bg.BgShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BgShareServlet</servlet-name>
    <url-pattern>/BgShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VirifyShareServlet</display-name>
    <servlet-name>VirifyShareServlet</servlet-name>
    <servlet-class>com.bg.VirifyShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VirifyShareServlet</servlet-name>
    <url-pattern>/VirifyShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BgBetterServlet</display-name>
    <servlet-name>BgBetterServlet</servlet-name>
    <servlet-class>com.bg.BgBetterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BgBetterServlet</servlet-name>
    <url-pattern>/BgBetterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSelectServlet</display-name>
    <servlet-name>AddSelectServlet</servlet-name>
    <servlet-class>com.bg.AddSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSelectServlet</servlet-name>
    <url-pattern>/AddSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyProjectsServlet</display-name>
    <servlet-name>MyProjectsServlet</servlet-name>
    <servlet-class>com.react.MyProjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProjectsServlet</servlet-name>
    <url-pattern>/MyProjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BgHelpServlet</display-name>
    <servlet-name>BgHelpServlet</servlet-name>
    <servlet-class>com.bg.BgHelpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BgHelpServlet</servlet-name>
    <url-pattern>/BgHelpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.react.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReceiveServlet</display-name>
    <servlet-name>AddReceiveServlet</servlet-name>
    <servlet-class>com.react.AddReceiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReceiveServlet</servlet-name>
    <url-pattern>/AddReceiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddressServlet</display-name>
    <servlet-name>ShowAddressServlet</servlet-name>
    <servlet-class>com.react.ShowAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddressServlet</servlet-name>
    <url-pattern>/ShowAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitServlet</display-name>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>com.react.QuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/QuitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsVolunteerServlet</display-name>
    <servlet-name>IsVolunteerServlet</servlet-name>
    <servlet-class>com.volunteer.IsVolunteerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsVolunteerServlet</servlet-name>
    <url-pattern>/IsVolunteerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVolunteerServlet</display-name>
    <servlet-name>AddVolunteerServlet</servlet-name>
    <servlet-class>com.volunteer.AddVolunteerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVolunteerServlet</servlet-name>
    <url-pattern>/AddVolunteerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VolunteerServlet</display-name>
    <servlet-name>VolunteerServlet</servlet-name>
    <servlet-class>com.bg.VolunteerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolunteerServlet</servlet-name>
    <url-pattern>/VolunteerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VirifyVolunteerServlet</display-name>
    <servlet-name>VirifyVolunteerServlet</servlet-name>
    <servlet-class>com.bg.VirifyVolunteerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VirifyVolunteerServlet</servlet-name>
    <url-pattern>/VirifyVolunteerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.react.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>